$bg: #f2f0f5;


html, body{
	background-color:$bg;
}

.main-container{
	width: 80%;
	max-width:400px;
	margin: auto;
	margin-top: 40px;

	*{
		font-size:16px;
	}
}

.logo{
	width:100%;
	margin-bottom:15px;
}

.input-senha{
	margin-top: -1px;
}

.lembrar{
	margin-top:10px;
}

.submit{
	width:100%;
	height:40px;
	margin-top:10px;
	font-size: 18px;
}